.card3{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    border-radius: 20px;
    border: 1px solid rgb(217, 190, 246);
    background-color: white;
}
.imgcontainer img{
    width: 100%;
    height: 100%;
}
.title-container{
    
    padding: 1em 1em;
}
.desp-container{
    padding-bottom: 1em;
    padding: 0 1em;
}